<md-card>
    <md-card-title>
        <form ng-submit="findTests()" flex>
            <md-input-container class="md-block search-input-block" md-no-float flex>
                <md-icon ng-click="findTests()" flex layout="column" layout-align="center center">
                    <i class="fa fa-search"></i>
                </md-icon>
                <input type="search" ng-model="searchParams.searchString" placeholder="поиск тестов">
            </md-input-container>
        </form>
    </md-card-title>
    <md-card-content>
        <md-subheader class="md-no-sticky" ng-hide="tests.length > 0">
                        <i class="fa fa-info-circle"></i> Тесты еще не добавлены или не найдены
                    </md-subheader>
        <md-list flex class="dl-multi-line-list" id="documents-list" infinite-scroll="getMoreTests()"
                 infinite-scroll-disabled="isLoading"
                 infinite-scroll-distance="1" infinite-scroll-container="'#parent-container'">
            <md-list-item class="md-2-line" ng-repeat="test in tests">
                <div class="md-avatar">
                    <i class="fa fa-file"></i>
                </div>
                <div class="md-list-item-text">
                    <h3>
                        <a>{{test.name}}</a>
                        <p>{{test.owner.firstName}} {{test.owner.lastName}}</p>
                    </h3>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>

<div class="lock-size float-bottom-button" layout="row" layout-align="center center" ng-show="isInRole('Teacher')">
    <md-fab-speed-dial md-open="false" md-direction="up" class="md-scale">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab">
                <i class="fa fa-bars"></i>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button ui-sref="tests.create" aria-label="Add test" class="md-fab md-primary md-mini">
                <md-tooltip md-direction="left">Добавить тест</md-tooltip>
                <i class="fa fa-plus"></i>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>