md-input-container {
  max-width: 100%;

  &.md-block {
    margin-bottom: 0;
  }

  &:not(.md-input-invalid).md-input-focused {
    md-icon {
      color: #0277bd;
    }
  }

  md-icon {
    color: #858585;
  }
}

.search-input-block {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;

  .md-input {
    padding: 0;
    border: none;
  }

  md-icon {
    top: 15px;
    left: 10px;
    cursor: pointer;

    &:focus, &:active, &:hover {
      outline: none;
    }
  }

  .md-errors-spacer {
    display: none;
  }

  #ngProgress-container {
    top: 100%;
  }
}