::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #dadada;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #c4c4c4;
}