<div flex layout="column" layout-padding>
    <div flex layout="row" layout-xs="column" layout-align-xs="" layout-align="flex-start center" layout-wrap>
        <md-card flex>
            <md-card-title>
                <md-card-title-text flex layout="row">
                    <span class="md-title" flex>Группы</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="overflow" layout="column">
                <section layout="column">
                    <md-progress-circular ng-show="isLoadingGroups" ng-disabled="!isLoadingGroups"
                                          md-diameter="40px"
                                          md-mode="indeterminate"></md-progress-circular>
                    <md-subheader class="md-no-sticky" ng-hide="groups.length > 0 || isLoadingGroups">
                        <i class="fa fa-info-circle"></i> Группы еще не добавлены или не найдены
                    </md-subheader>
                    <div layout="row">
                        <md-list class="small-list" flex ng-cloak>
                            <md-list-item ng-click="" ng-repeat="group in groups">
                                <md-icon layout="column" layout-align="center center">
                                    <i class="fa fa-users"></i>
                                </md-icon>
                                <p flex>{{group.prefix}}{{group.postfix}}</p>
                                <md-button class="md-icon-button md-secondary" aria-label="Delete group">
                                    <md-tooltip md-direction="bottom">Удалить группу</md-tooltip>
                                    <md-icon layout="column" layout-align="center center">
                                        <i class="fa fa-trash"></i>
                                    </md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </section>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-input-container class="md-block" flex>
                    <label>цифра</label>
                    <md-select ng-model="newGroup.prefix">
                        <md-option ng-repeat="prefix in numbers" value="{{prefix}}">{{prefix}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <input ng-model="newGroup.postfix" placeholder="буква">
                </md-input-container>
                <md-button ng-click="createGroup(newGroup)">Создать</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex>
            <md-card-title>
                <md-card-title-text flex layout="row">
                    <span class="md-title" flex="">Дисциплины</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="overflow" layout="column">
                <section layout="column">
                    <md-progress-circular ng-show="isLoadingDisciplines" ng-disabled="!isLoadingDisciplines"
                                          md-diameter="40px"
                                          md-mode="indeterminate"></md-progress-circular>
                    <md-subheader class="md-no-sticky" ng-hide="disciplines.length > 0 || isLoadingDisciplines">
                        <i class="fa fa-info-circle"></i> Дисциплины еще не добавлены или не найдены
                    </md-subheader>
                    <div layout="row">
                        <md-list class="small-list" flex ng-cloak>
                            <md-list-item ng-click="" ng-repeat="discipline in disciplines">
                                <md-icon layout="column" layout-align="center center">
                                    <i class="fa fa-book"></i>
                                </md-icon>
                                <p flex>{{discipline.name}}</p>
                                <md-button class="md-icon-button md-secondary" aria-label="Delete discipline">
                                    <md-tooltip md-direction="bottom">Удалить дисциплину</md-tooltip>
                                    <md-icon layout="column" layout-align="center center">
                                        <i class="fa fa-trash"></i>
                                    </md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </section>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-input-container class="md-block" flex>
                    <input ng-model="newDiscipline" placeholder="название">
                </md-input-container>
                <md-button ng-click="createDiscipline(newDiscipline)">Создать</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex flex-sm="100">
            <md-card-title>
                <md-card-title-text flex layout="row">
                    <span class="md-title" flex="">Заблокированные пользователи</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="overflow" layout="column">
                <section layout="column">
                    <md-progress-circular ng-show="isLoadingUsers" ng-disabled="!isLoadingUsers"
                                          md-diameter="40px"
                                          md-mode="indeterminate"></md-progress-circular>
                    <md-subheader class="md-no-sticky" ng-hide="notApprovedUsers.length > 0 || isLoadingUsers">
                        <i class="fa fa-info-circle"></i> Пользователи еще не добавлены или не найдены
                    </md-subheader>
                    <div layout="row">
                        <md-list class="small-list" flex ng-cloak>
                            <md-list-item ng-click="goToUser(user.id)" ng-repeat="user in notApprovedUsers">
                                <md-icon layout="column" layout-align="center center">
                                    <i class="fa fa-user"></i>
                                </md-icon>
                                <p flex>{{user.firstName}} {{user.lastName}}</p>
                                <md-button class="md-icon-button md-secondary" ng-click="approveUser($index)"
                                           aria-label="Approve user">
                                    <md-tooltip md-direction="bottom">Одобрить пользователя</md-tooltip>
                                    <md-icon layout="column" layout-align="center center">
                                        <i class="fa fa-check"></i>
                                    </md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-secondary" ng-click="deleteUser($index)"
                                           aria-label="Delete user">
                                    <md-tooltip md-direction="bottom">Удалить пользователя</md-tooltip>
                                    <md-icon layout="column" layout-align="center center">
                                        <i class="fa fa-trash"></i>
                                    </md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </section>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-input-container class="md-block" flex>
                    <input ng-model="searchParams.searchString" placeholder="поиск">
                </md-input-container>
                <md-button ng-click="findUsers()">Найти</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>