<div flex layout="row" layout-xs="column" layout-padding>
    <div flex layout="column" class="profile-card-wrap">
        <md-card class="profile-photo-card">
            <md-card-title layout="column" layout-align="center center">
                <md-card-title-media>
                    <div class="md-media-lg profile-photo" style="background-image: url('')">
                        <div class="change-photo-thumb">
                            <i class="fa fa-photo"></i>
                        </div>
                    </div>
                </md-card-title-media>
                <md-card-title-text hide-gt-xs>
                    <span class="md-title">{{profile.firstName}} {{profile.lastName}}</span>
                    <span class="md-subhead">
                        <span>учитель</span>
                        <span ng-repeat="role in profile.roles">{{role.name}}</span>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions>
                <md-button>Редактировать</md-button>
                <md-button aria-label="change photo button">
                    <i class="fa fa-photo"></i>
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card class="contact-info-card" flex-xs="1">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">Контакты</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-list-item class="md-2-line">
                    <div class="md-avatar">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="md-list-item-text">
                        <h3>
                            <a href="mailto:{{profile.email}}">{{profile.email}}</a>
                        </h3>
                        <p>почтовый ящик</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-avatar">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="md-list-item-text">
                        <h3>{{profile.phoneNumber}}</h3>
                        <p>мобильный</p>
                    </div>
                </md-list-item>
            </md-card-content>
        </md-card>
        <md-card class="profile-info-card" flex-xs="1" hide-gt-xs>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">Консультации</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <div class="info-message" ng-hide="consultations.length > 0">
                    <i class="fa fa-info-circle"></i> Нет консультаций
                </div>
                <div layout="row">
                    <md-chips ng-show="consultations.length > 0">
                        <md-chip ng-repeat="consultation in consultations">
                            {{dayOfWeekAsString(consultation.dayOfWeek)}} |
                            {{getTime(consultation.time) | date:'HH:mm'}}
                        </md-chip>
                    </md-chips>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex layout="column" class="profile-info-card-wrap">
        <md-card class="profile-info-card" hide-xs>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{profile.firstName}} {{profile.lastName}}</span>
                    <span class="md-subhead">
                        <span>учитель</span>
                        <span ng-repeat="role in profile.roles">{{role.name}}</span>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <section class="consultation-section" layout="column">
                    <span class="md-title">Консультации</span>
                    <div class="info-message" ng-hide="consultations.length > 0">
                        <i class="fa fa-info-circle"></i> Нет консультаций
                    </div>
                    <div layout="row">
                        <md-chips ng-show="consultations.length > 0">
                            <md-chip ng-repeat="consultation in consultations">
                                {{dayOfWeekAsString(consultation.dayOfWeek)}} |
                                {{getTime(consultation.time) | date:'HH:mm'}}
                            </md-chip>
                        </md-chips>
                    </div>
                </section>
            </md-card-content>
        </md-card>
    </div>
</div>